body {
  background: hsla(2, 100%, 50%, 1);
  background: linear-gradient(135deg, hsla(2, 100%, 50%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
  background: -moz-linear-gradient(135deg, hsla(2, 100%, 50%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
  background: -webkit-linear-gradient(135deg, hsla(2, 100%, 50%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FF0800", endColorstr="#FFFFFF", GradientType=1);
  /* background-color: grey; */
  margin: 0;
}

/* Navbar */
.gr {
  position: relative;
  text-align: right;
}

.t {
  /* color; */
  font-family: 'SF UI Text';
  font-weight: 600;
  letter-spacing: 0.125em;
  line-height: 1.75;
  margin: 0 0 1.5rem 0;
  text-transform: uppercase;
}
.card{
  /* padding-left: 50px; */
  margin-left: 75px;

}
