
body {
  background: hsla(2, 100%, 50%, 1);
  background: linear-gradient(157deg, hsla(2, 100%, 50%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
  background: -moz-linear-gradient(157deg, hsla(2, 100%, 50%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
  background: -webkit-linear-gradient(157deg, hsla(2, 100%, 50%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FF0800", endColorstr="#FFFFFF", GradientType=1);


}

.grad1{
  background: hsla(2, 100%, 50%, 1);
  background: linear-gradient(157deg, hsla(2, 100%, 50%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
  background: -moz-linear-gradient(157deg, hsla(2, 100%, 50%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
  background: -webkit-linear-gradient(157deg, hsla(2, 100%, 50%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FF0800", endColorstr="#FFFFFF", GradientType=1);



}
.grad2{
  background: hsla(2, 100%, 50%, 1);
  background: linear-gradient(200deg, hsla(2, 100%, 50%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
  background: -moz-linear-gradient(200deg, hsla(2, 100%, 50%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
  background: -webkit-linear-gradient(200deg, hsla(2, 100%, 50%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FF0800", endColorstr="#FFFFFF", GradientType=1);
  padding-bottom: 40px;
  margin-bottom: 0;



}
.grad3{
  margin-top: 0;
  background: hsla(2, 100%, 50%, 1);
  background: linear-gradient(150deg, hsla(2, 100%, 50%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
  background: -moz-linear-gradient(150deg, hsla(2, 100%, 50%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
  background: -webkit-linear-gradient(150deg, hsla(2, 100%, 50%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FF0800", endColorstr="#FFFFFF", GradientType=1);
  /* background-color: grey; */
  /* margin: 0; */
  /* justify-content: center; */




}
/* Navbar */
.gr {
  position: relative;
  text-align: right;
}
/* CAROUSEL */

.carousel{
  margin-left: 70px;
  margin-right: 70px;
  /* padding-left: 6%;
  padding-right: 6%; */
  /* height: 50px; */
  /* padding-top: 1%; */
  padding-bottom: 5%;
}

/* About Us */
.about {
  padding-left: 40px;
  padding-right: 40px;
}

.ab1 {
  font-family: 'Readex Pro', sans-serif;
}

/* Events */
.eveh {
  /* margin-top: 50px; */
  font-family: 'Readex Pro', sans-serif;

  margin-bottom: 20px;
  text-align: left;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

.evei {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 170px;
}

.p1 {
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'Poppins', sans-serif;
}
.sp1{
    margin-right: 9px;
    margin-left: 9px;
}
.sp4{
  margin-left: 45px;
}
.sp5{
  padding-top: 20px;
}
.sp6{
  margin-top: 20px;
  margin-left: 55px;
}


/* Contact Us Sec */
.ic{
  margin-left: 415px;
  /* padding-right: 205px; */
}




/* Social icons */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.wrapper .button {
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.wrapper .button:hover {
  width: 200px;
}

.wrapper .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;

}

.wrapper .button:nth-child(1):hover .icon {
  background: #1DA1F2;
}

.wrapper .button:nth-child(2):hover .icon {
  background: #E1306C;
}

.wrapper .button:nth-child(3):hover .icon {
  background: #0e76a8;
}

.wrapper .button:nth-child(4):hover .icon {
  background: #ff0000;
}

.wrapper .button:nth-child(5):hover .icon {
  background: #333;
}

.wrapper .button:nth-child(6):hover .icon {
  background: #333;
}

.wrapper .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
  color: #fff;
}

.wrapper .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span {
  color: #1DA1F2;
}

.wrapper .button:nth-child(2) span {
  color: #E1306C;
}

.wrapper .button:nth-child(3) span {
  color: #0e76a8;
}

.wrapper .button:nth-child(4) span {
  color: #ff0000;
}

.wrapper .button:nth-child(5) span {
  color: #333;
}

.wrapper .button:nth-child(6) span {
  color: #333;
}


.ft {
  text-align: center;
  /* padding-top: 20px; */
  /* padding-top: 10px; */
  margin-bottom: 0;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

/* end navbar */
.enav {
  background-color: black;
  width: 100%;
}
